body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* color: #444444;
    font-size: 9pt;
    background-color: #FAFAFA; */
}

#title {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-gallery {
    background-color: blue;
    height: 270px;
    margin: 0% 20% 0% 20%;
}

.middle-container {
    display: flex;
    margin-top: 30px;
}

#middle-element {
    font-size: 25px;
    flex: 60%;
    vertical-align: middle;
}

#left-element {
    flex: 20%;
    margin-left: 50px;
}

#right-element {
    flex: 20%;
    /* margin-right: 50px; */
}


.nav-bar {
    border: solid;
    border-radius: 6px;
    margin: 3% 10% 0% 10%;
    display: flex;
}

.nav-element-title {
    text-align: center;
    display: block;
}
  
.column {
    flex: 20%;
    padding: 5px;
}

a.column {
    text-decoration: none; 
    color: black;
}

.mySlides {
    height: 100%;
}

.w3-content {
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
}

.w3-display-container {
    position:relative;
    height: 270px;
}

.w3-center {
    width:auto;
    text-align: center;
    padding:0.01em 16px;

    margin-top:16px!important;
    margin-bottom:16px!important;

    font-size:18px!important;

    color:#fff!important;

    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
}

.w3-badge {
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    border-radius:50%;
    height: 8px;
    width: 0px;
    border: 1px solid #ccc!important;
    background-color:transparent;
}

.w3-hover-white:hover {
    color:#000!important;
    background-color:#fff!important;
}

.mywhite {
    background-color: white;
}

