#map {
    width: 100%;
    height: 600px;
}

#content {
    background-color: aqua;
}

#bodyContent {
    float: left;
    padding-right: 10px;
    max-width: 350px;
}

#picture {
    float: left;
    height: 170px;
    padding-top: 20px;
}