#map {
    width: 100%;
    height: 600px;
}

#content {
    background-color: aqua;
}

#bodyContent {
    float: left;
    padding-right: 10px;
}

#picture {
    float: left;
    height: 200px;
    padding-top: 20px;
}